// Main niri config — modular includes pattern
// See https://niri-wm.github.io/niri/Configuration:-Introduction

prefer-no-csd

include "configs/input.kdl"
include "configs/layout.kdl"
include "configs/windowrules.kdl"
include "configs/animations.kdl"
include "configs/binds.kdl"
include "configs/windowlist.kdl"

include "dms/cursor.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    // skip-at-startup
}
