layout {

    focus-ring {
        active-color   "#efbc9d"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#efbc9d"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#efbc9d"
        inactive-color "#69452d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#efbc9d80"
    }
}

recent-windows {
    highlight {
        active-color "#efbc9d"
        urgent-color "#ffb4ab"
    }
}
