layout {

    focus-ring {
        active-color   "#bcc8d7"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bcc8d7"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bcc8d7"
        inactive-color "#313c48"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bcc8d780"
    }
}

recent-windows {
    highlight {
        active-color "#bcc8d7"
        urgent-color "#ffb4ab"
    }
}
