layout {

    focus-ring {
        active-color   "#f1bd86"
        inactive-color "#17130f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f1bd86"
        inactive-color "#17130f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f1bd86"
        inactive-color "#b88957"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f1bd8680"
    }
}

recent-windows {
    highlight {
        active-color "#f1bd86"
        urgent-color "#ffb4ab"
    }
}
