[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/config.kbd
Restart=no

[Install]
WantedBy=default.target